@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    background: linear-gradient(rgb(255, 1, 213), rgb(145, 0, 120), rgb(56, 0, 47));
}

main{
    width: 375px;
    height: 812px;
    text-align: center;
    background-image: url('../images/bg.png');
}

.container{
    max-width: 250px;
    margin: 0 auto;
}

.selo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ccc;
    text-align: center;
    line-height: 80px;
    color: white;
}

h1{
    color: #e1e1e6;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
}

a{
    text-decoration: none;
    color: pink;
}

a i{
    font-size: 18px;
    margin-right: 10px;
}

p{
    font-weight: 400;
    font-size: 14px;
    margin: 20px 0;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin: 0 10px;
    padding: 15px;
    color: white;
    font-size: 20px;
    background-color: #262626;
}